/*
Theme Name: TD
Theme URI: http://#
Description: This is a custom child theme for bootstrap-basic
Author: Zeeshan Mulla
Template: bootstrap-basic
Version: 0.1
*/
@import '../bootstrap-basic/style.css';


@font-face {
    font-family: euphemia;
    src: url(font/euphemia.ttf);
}

body{
    font-family: euphemia !important;
    overflow-x: hidden; 
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: euphemia !important;   
}
h1.page-title{
    font-family: euphemia !important;  
    font-size: 65px;    
}

hr {
    border-color : #000;
}

a {
    color: #c4c4c4 !important;
}



.navbar-nav li.current-custom-menu-item > a {
    font-weight: normal !important;
    color: #000000 !important;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-image: none !important;
    background-color: #ffffff !important;
    font-weight: normal !important;
}


/*.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-image: none;
    background-color: #ffffff !important;   
}*/

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, a, p {
    color: #000000;
}
header.top-header {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    background: #ffffff;
    box-shadow: 0 0 02px #d6d6d6;
}
.admin-bar header.top-header {
    top: 30px;
}
.navbar-nav li.current-custom-menu-item{
    background-color: none;
}
.navbar-nav li a:hover{
    background: none;
}
.navbar-nav li.current-custom-menu-item a{
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.59);
    color: #c4c4c4;
    font-weight: bold;
    background: transparent;
}
.navbar-toggle .icon-bar{
    background-color: #000000;
}
div#content {
    margin-top: 53px;
}   
.navbar{
    margin-bottom: 5px !important;
}
.margin-bottom-zero{
    margin-bottom: 0;
}
#about-us,
#activities,
#our-associations,
#projects,
#contact-us{
    margin-bottom: 0 !important;
}
.slider-quote .widget-title{
    text-align: center;
}
.slider-quote{
    margin: 90px auto;
}
#main-column .post, #main-column .page {
    border: none;
    margin-bottom: 20px;
    padding: 10px;
}

.know-more-btn {
    background-color: #000000;
    color: #ffffff;
    height: 40px;
    border: 1px solid;
    text-decoration: none !important;
}

.know-more-btn a:parent {
    text-decoration: none !important;
}

@media screen and (max-width: 991px) {
    .slider-quote{
        margin: 10px auto;
    }
    .slider-quote h3{
        font-size: 18px;
        line-height: 20px;
    }
}

@media screen and (max-width: 835px) {
    header.top-header .site-title{
        margin-top: 40px;
    }

}

@media screen and (max-width: 768px) {
    header.top-header {
        position: static;
    }
    header.top-header .site-title{
        margin-top: 0;
    }
    div#content {
        margin-top: 5px;
    }
    .site-title-heading{

        font-family: euphemia !important;
        text-align: center;
    }
    .slider-quote{
        margin: 10px auto;
    }
    .slider-quote h3{
        font-size: 20px;
        line-height: 24px;
    }
    img.alignleft{
        float: none;
        margin-right: 0;
    }
    .home .panel-grid-cell{
        text-align: center;
    }
}


.front-page-headings h3{
    font-size: 32px;
}

/* BackToTop button css */
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:40px;
    height:40px;
    background-color:#ffffff;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
    z-index : 10000;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:rgba(0,0,0,0.8);
}
#scroll:hover {
    background-color:rgba(0,0,0,0.5);
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}









/* Parralax code */


    #terrerium-design{
        
         background: url(img/terrerium-design-2.JPG) no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          width: 100%;
          overflow: hidden;
          height: 723px;
    }
    
    #terrerium-design-small {
        display: none;
    }

    #terrerium-approach{
        background: url(img/terrerium-design-6.JPG) no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          width: 100%;
          overflow: hidden;
          height: 723px;
    }

    #terrerium-approach-small{
        display: none;
    }



    #team-terrerium {

        background: url(img/terrerium-design-3.JPG) no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          width: 100%;
          overflow: hidden;
          height: 723px;

    }

    #team-terrerium-small,#terrerium-work-small {
        
    }

    #terrerium-work {

        background: url(img/terrerium-design-7.JPG) no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          width: 100%;
          overflow: hidden;
          height: 723px;

    }

/* Mobile Devices */
@media screen and (max-width: 840px) { 

    /* Td First */
    #terrerium-design-small,#terrerium-approach-small,#team-terrerium-small,#terrerium-work-small {
        display:block;
        
    }

    .title,.title1 {
        text-align: center;
        color: white;
        font-size: 3.5em;
        position: relative;
        text-transform: uppercase;
        font-family: "euphemia";
    }

    #terrerium-design,#terrerium-approach,#team-terrerium,#terrerium-work{
        
    }

    .fixed-img {
        background-image: url("img/terrerium-design-2.JPG");
        height: inherit;
        width: 800px;
         position: fixed;
    	background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
		z-index: -1
    }
	
    .fixed-img-approach {
        background-image: url("img/terrerium-design-6.JPG");
		height: inherit;
        width: 800px;
        position: fixed;
        z-index: -1;
		background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
	

    .fixed-img-team {
        background-image: url("img/terrerium-design-3.JPG");
        height: inherit;
        width: 800px;
        position: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        overflow: hidden;
    }

    .fixed-img-work {
        background-image: url("img/terrerium-design-7.JPG");
        height: inherit;
        width: 800px;
        position: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        overflow: hidden;
    }



    .content-inner-about,.content-inner-team{
        padding: 20px !important;
    }


}


.collection-type-index .content-inner.has-content {
    padding : 100px 2%;
}


/*
    Our Process
*/

.separator {
    line-height: 0.5;
    margin: 30px 0;
    text-align: center;
}


/*.de_tab.tab_steps .de_nav li {
    background: none;
    display: inline-block;
    float: none;
    margin: 0 30px 0px 30px;
}

.de_tab.tab_steps .de_nav {
    text-align: center;
}

.de_tab.tab_steps .de_nav li span {
    background: none;
    color: #000000;
    border: solid 2px rgba(0,0,0,.8);
}*/


.de_nav{
    border-bottom: 1px solid;
}

.de_tab .de_nav li {
    background: #eee none repeat scroll 0 0;
    float: left;
    list-style: outside none none;
    margin-right: 5px;
}
.de_tab .de_nav li span {
    background: #ffffff none repeat scroll 0 0;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    color: #646464;
    cursor: pointer;
    display: block;
    font-size: 13px;
    padding: 8px 16px;
    text-decoration: none;
}
.de_tab.tab_steps .de_nav {
    text-align: center;
}
.de_tab.tab_steps .de_nav li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: inline-block;
    float: none;
    margin: 0 20px;
}
.de_tab.tab_steps .de_nav li span {
    border-radius: 120px;
    color: #222;
    font-family: "euphemia";
    font-size: 12px;
    line-height: 100px;
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
    width: 165px;
}

.de_tab.tab_steps .de_nav li .active {
    background: rgba(77, 77, 77,0.8);
    color: #fff;
}

.de_tab.tab_steps .de_nav li span:hover {
    background: rgba(77, 77, 77,0.8) none repeat scroll 0 0;
    border: medium none;
    color: #fff;
}
.de_tab.tab_steps .de_nav li .v-border {
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    height: 60px;
    margin-bottom: -5px;
}
.de_tab .de_nav li span {
    /*background: #222 none repeat scroll 0 0;*/
    border: medium none;
}
.de_tab .de_nav li span {
    border: 1px solid #ddd;
}
.de_tab .de_nav li span {
    border: 1px solid #404040;
}
.de_tab .de_tab_content {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    margin-top: -1px;
    padding: 15px 20px 20px;
}
.de_tab .de_tab_content {
    background: #27282b none repeat scroll 0 0;
    border: 1px solid #404040;
}
.de_tab.tab_steps .de_tab_content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    border-color: rgba(255, 255, 255, 0.4) -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px medium medium;
    padding: 30px 0 0;
    border-top: none;
}
.de_tab .de_nav li.active span {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #fff;
    color: #222;
    margin-bottom: -3px;
}
.de_tab .de_nav li.active span .v-border {
    display: none !important;
}
.de_tab .de_nav li.active span {
    background: #27282b none repeat scroll 0 0;
    border-bottom: 1px solid #27282b;
    color: #ccc;
}
.de_tab.tab_steps .de_nav li.active span {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid rgba(255, 255, 255, 0.8);
    color: #ffffff;
}


.approach-content-inner  {
    max-width : 1160px !important;
    padding: 100px 2% !important;
}


.row-with-vspace {
    margin-bottom: 0px !important;
}

.content-inner-work {
    padding: 100px 2% !important;
}

/*.slick-prev::before, .slick-next::before {
    color: #000000 !important;
}*/


.home-image-gallery div a img {
    padding: 5px;
    cursor: pointer;
    
}

.site-title-heading {
    padding-left: 40px;
}


.site-title img {
    height: 40px;
}

.navbar-primary-collapse {
    /*margin-top: 10px;
    margin-bottom: 10px;*/
}

.a-name {
    color: #48b6a8;
}


#menu-item-37 a,
#menu-item-77 a,
#menu-item-74 a{
    font-size: 14px;
    font-weight: normal;
}

.content-inner-about,.content-inner-team{
    padding: 100px 2% ;
}

.about-text  {
    font-size: 14px !important;
}

.sqs-block-content {
    margin-top: 20PX;
}

.home-gallery-img }{
    padding: 5px;
}

.de_tab_content div p {
    text-align: center;
    font-size: 20px;
}

.team-person-image {
   /* border-radius: 120px; */
}

.team-person-name {
    font-size: 22px;
    font-weight: bold;
}

.team-person-post {
    font-weight: bold;   
}

.team-person-description{
    text-align: justify;
}

#contact-us {
    text-align: center;
}

.contact-us-title {
    font-size: 30px;
    font-weight: bold;
}

.page-header-top-right-small,.site-title-small{
    display: none;
}

.page-title img {
    height: 140px;
}


.sqs-block-content h1 {
    font-size: 22px;
}

.footer-wrapper {
    margin-right: 0px !important;
    max-width: 100%;
}

.contact-us {
    padding-right: 100px;
    padding-top: 40px;
    text-align: center;
}
.get-in-touch {
    padding-top: 40px;
}

.content-area{
    /*padding: 0px;*/
}


.entry-header{
    background-color: #f5f5f5;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}

.entry-header h1{
    padding-left: 20px;
}

@media screen and (max-width: 480px) {

    .title-desc-inner {
        padding: 0px !important;
    }

    .page-title img {
        height: 120px;
        width: 100%;
    }

    .site-content {
        margin-left: 0px !important;
    }

    h1.page-title {
        font-family: euphemia !important;  
        font-size: 45px;
    }

    .team-person-image-wrapper {
        text-align: center;
    }
    .team-person-name {
        text-align: center;
        margin: 5px;
    }
    .team-person-post {
        text-align: center;
        margin-bottom: 5px;
    }

    .de_tab_content div p {
        font-size: 20px;
    }

    .contact-us{
        padding-left: 50px;
        padding-top: 40px;
        text-align: center;
    }
}

@media screen and (max-width: 980px) {

    .team-person-image-wrapper {
        text-align: center;
    }
    .team-person-name {
        text-align: center;
        margin: 5px;
    }
    .team-person-post {
        text-align: center;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 770px) {
    .page-header-top-right-small,.site-title-small{
        display: none;
        display: inline-block;
        float: left;
    }

    .site-title,.page-header-top-right{
        display: none;
    }

    .contact-us {
        padding-right: 50px;
        padding-top: 40px;
        text-align: center;
    }



    .entry-header{
        background-color: #f5f5f5;
        margin-top: 60px;
        padding: 10px;
    }
}

@media screen and (max-width: 980px) {
    .top-header {
        position: fixed !important;
    }
}

.view-list .entry-content {
    width: 100%;
}

.view-more-gallery {
    text-align:right;
    font-weight:bold;
    color : #d1d1d1;
}

.view-list article .entry-header {
    background-color: #f5f5f5;
    border-style: none;
    border-width: 1px 0;
    margin-top: 40px;
    width: 100%;
    padding-left: 20px;  
} 


#footerr{
    background-color: #d1d1d1 !important; 
}


/* .........................................................*/

/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
padding: 150px 0;
background-position: 50% 0;
background-size: 100% 100%;
}

section.module.parallax-1 {
  background-image: url("img/terrerium-design-2.JPG");
  
    		
}

section.module.parallax-2 {
  background-image: url("img/terrerium-design-6.JPG");
  background-size: 100% 141%;
  
}
section.module.parallax-3 {
  background-image: url("img/terrerium-design-3.JPG");
  background-size: 100% 139%;
  
}
section.module.parallax-4 {
  background-image: url("img/terrerium-design-7.JPG");
  background-size: 100% 115%;
  
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  
  
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}

.mailto-link {
    color: #333 !important;
}
